# OSX
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
# iOS
ios/Pods/
ios/miniCode/minicode_mobile
ios/third_party/spine/include

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
android/app/debug/app-debug.apk
android/app/debug/output.json
android/app/src/main/assets/index.android.bundle
android/app/src/main/res/drawable-mdpi/**
android/app/src/main/res/drawable-xhdpi/**
android/app/src/main/res/drawable-xxhdpi/**
android/app/src/main/res/raw/**
android/app/src/mini/bugly/
android/app/src/mini/assets/
android/app/src/main/assets/chapterBundle.zip
android/app/src/mini/jniLibs/

# node.js
node_modules/
# src/local_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

#assets
assets/chapterBundle
assets/chaptercache/**
assets/chaptercache.zip
assets/chapterCache/**
assets/chapterCache.zip

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to r·e-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/
··
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

android-release.bundle.map
